#myDiv{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.git-linkdin-img{
  width: 5vw;
  height: 8vh;
}

#logo{
  height: 8vh;
}

@media screen and (max-width: 550px) {
.git-linkdin-img{
  width: 15vw;
  height: 8vh;
}
}