

#userTable{
  border: 2px solid black;
}
#gif{
  height: 100vh;
  background-image: url("https://media.giphy.com/media/l3vR08nLzb64aKAEg/giphy.gif");
  background-size: 100% 100%;
}
#logo{
  height: 8vh;
}
.td-border{
  border-right: 2px black solid;
  border-bottom: 2px solid black;
}

